<div class='col-md-4' ng-repeat="data in categoryJSON track by $index">
	<div class='category-box'> 
		<div class="close-button" ng-click="removeCategory($index)"></div> 
		<div class='header'>
			<p ng-hide="edit" ng-click="edit=!edit">{{data.category}}</p>
			<div ng-show="edit">
				<input ng-model="data.category" class="border-less" autofocus="on">
  				<a href="#"  ng-click="edit=!edit">DONE</a>
  			</div>
		</div>
		<div class='activity-container'>
			<div class='input-group'>
				<input placeholder='Add Activity' ng-model="activity" name='new-activity' class='text-field activity-input'>
				<button class='button add-activity' ng-click="addNewActivity($index, activity)">ADD</button>
			</div>
			<div class="activity-list-container">
				<span class="activity-list" ng-repeat = "li in data.activities track by $index">{{li}}
				<span class="close-activity" ng-click="removeActivity($index,$parent.$index)"></span>
				</li>
			</div>
		</div>
	</div>
</div>